<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
<body>
	<section>
		
			
		<div class="container">
			<div class="top">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				
			</div>
		</div>

		<div class="title">
			<h2>Tweet-o-Phone</h2>
		</div>

<!--content area-->		
		<div class="middle_text">
			<br>
			<h3>Results</h3>

		<h5>You Found this Tweet</h5>
		<blockquote class="twitter-tweet">
			 <a href="https://twitter.com/twitterapi/status/<%=@tweet_id%>"></a>
		</blockquote>
		<div class="tree">
			<div id="tweet-word">
				<h5>Tweet-o-Phone Picked this word from that tweet: <h1> <strong>"<%= @twitter_word %>"</h1></strong></h5>
			</div>
		</div>
		
		</div>

		<h3>Tweet-o-phone found this gif of the word "<%= @twitter_word %>"</h3>
		<div class="circles">
		
			<form action="http://agile-hollows-6834.herokuapp.com/">
				<button class="play_again" type="submit">Play Again</button>
			</form>
		
			<div class="result_page">
				
				<div class="movie_box">
						<div class="results">
							<% if @check_result %>
								<img src = "http://media.giphy.com/media/<%=@giphy_id%>/giphy.gif" style="max-width: 90%; max-height: 90%">			
							<% else %>
								<img src = "http://media.giphy.com/media/<%=@giphy_id%>/giphy.gif" style="max-width: 90%; max-height: 90%">
							<% end %>
						</div>
				</div>

			</div>
			
		</div>
		
			<blockquote>
				
				<a class="twitter-timeline" href="https://twitter.com/Tweet_o_Phone" data-widget-id="383671652375990272" height="250px" data-chrome="transparent" >Tweets by @Tweet_o_Phone</a>
			</blockquote>

				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			


<!--Bottom decoration circles -->
			<div class="container_2">
				<div class="top">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					
					
				</div>
			</div>
		</section>
		
	</body>
</html>